* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    text-align: center;
    position: relative;
}

body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #de354c, 0%, #932432 50%, #283747 100%);
}

.button-group button {
    background-color: #283747;
    border: 1px solid gray;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #283747;
}