* {
    font-family: 'Raleway', sans-serif;
}

.banner {
    background-color: #4d00ff;
    color: #fff;
    margin-top: 75px;
    text-align: center;
    padding: 100px 0px;
}

#streaming-logos {
    height: 300px;
}

#CineMake-social {
    color: #4d00ff;
    font-size: 100px;
}

.bold {
    font-weight: 900;
}

.banner button {
    background-color: #4d00ff;
    border-radius: 2px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.banner button:hover {
    background-color: #fff;
    color: #4d00ff;
    transition: color .1s ease-in, background-color .1s ease-in;
  }
  
  .banner button:active {
    font-size: 14px;
    transition: font-size .1s ease-in-out;
  }