.groupRecTitle{
    text-align: center;
    border: 3px solid white;
    background-color: #7c82ff;
}

.selectGroupTitle{
    text-align: center;
    border: 3px solid white;
    background-color: #7c82ff;
}

.giveButton{
    text-align: center;
}