.recTitle{
    text-align: center;
    border: 3px solid white;
    background-color: #7c82ff;
}

.watchYourself{
    text-align: center;
}

.watchGroup{
    text-align: center;
}

.yourselfButton{
    text-align: center;
}

.anyButton{
    text-align: center;
}

.specButton{
    text-align: center;
}

.groupButton{
    text-align: center;
}

.groupBut{
    text-align: center;
}