.specRecTitle{
    text-align: center;
    border: 3px solid white;
    background-color: #7c82ff;
}

.soloRecTitle{
    text-align: center;
    border: 3px solid white;
    background-color: #7c82ff;
}

.selection{
    text-align:center;
}


.seenButton{
    text-align: center;
}


.seenButton2{
    text-align: center;
}
